.container {
  background-image: url("../public/Ayurveda.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}

.wrapper-main{
  text-align: center;
  width: 300px;
  margin: auto;
}